.header {
  margin-top: .5rem;
  flex-direction: column;
}

.top-panel {
  margin: 15px 0 5px 0;
  justify-content: space-between;
}
.logo {
  background-image: url("logo.svg");
  width: 200px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
}

.score {
  line-height: 55px;
}

.header ul.pagination {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 25px;
  border-radius: 5px;
  overflow: hidden;
}

.header ul li {
  flex: auto;
  text-align: center;
}